graft aiolibdatachannel
graft vendor/libdatachannel/cmake
graft vendor/libdatachannel/include
graft vendor/libdatachannel/src
graft vendor/libdatachannel/deps
include vendor/libdatachannel/CMakeLists.txt
include vendor/libdatachannel/LICENSE
include CMakeLists.txt
include LICENSE
include README.md
include pyproject.toml
prune vendor/libdatachannel/.git
prune vendor/libdatachannel/.github
prune vendor/libdatachannel/examples
prune vendor/libdatachannel/test
prune vendor/libdatachannel/pages
global-exclude __pycache__
global-exclude *.py[cod]
